i{
    margin: 5px;
    cursor: pointer;
}
#logo{
    color: red;
}
#logo2{
  color: white;
}
#logo1{
    color:black;
}
.navigation-bar{
  overflow: hidden;
  top:0;
  position: sticky;
  z-index: 1000;
  border-bottom: 3px solid white;
}
.btn{
    background-color: rgb(48, 12, 48);
}
.btn:hover{
    background-color:red;
}
.navbar{
    background-color: rgb(48, 12, 48);
}
.caurousel-inner{
    width: 100%;
    height: 650px;
    overflow: hidden;
}
.carousel-item img {
    width: 100%;
    height: 650px; 
    object-fit: cover; 
    object-position: center;
  }
.heading{
   background-color: rgb(48, 12, 48);
   color: white;
   margin:50px auto;
   padding: 25px;
   width: 100%;
}

.card-img-top:hover{
    transform: scale(1.05);
}


i:hover{

  color: red;
}

.cart-dropdown {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 200px;
    display: none;
    z-index: 1000; 
  }
  

  .cart-icon.active .cart-dropdown {
    display: block; 
  }
  #slider-fixed{
    height: 20rem;
    width: 100%;
    background-image: url(slide-fixed.jpeg);
     background-attachment: fixed;
     background-repeat: no-repeat;
  }
  footer{
    background-color: rgb(48, 12, 48);
    color: white;
    padding: 20px;
  }
  footer .row .col{
    /* margin: rem; */
    padding: 30px;
  }
